@model InventoryControlSystem.ViewModels.UserViewModel

<div class="row">
    <div class="col-md-4">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.User.FirstName" class="control-label"></label>
                        <input asp-for="@Model.User.FirstName" class="form-control" />
                        <span asp-validation-for="@Model.User.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.User.LastName" class="control-label"></label>
                        <input asp-for="@Model.User.LastName" class="form-control" />
                        <span asp-validation-for="@Model.User.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.User.Email" class="control-label"></label>
                        <input asp-for="@Model.User.Email" class="form-control" />
                        <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.User.Phone" class="control-label"></label>
                        <input asp-for="@Model.User.Phone" class="form-control" />
                        <span asp-validation-for="@Model.User.Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.User.Address" class="control-label"></label>
                        <input asp-for="@Model.User.Address" class="form-control" />
                        <span asp-validation-for="@Model.User.Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.User.DOB" class="control-label"></label>
                        <input asp-for="@Model.User.DOB" class="form-control" />
                        <span asp-validation-for="@Model.User.DOB" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.User.Role">Select a Role</label>
                        <select required asp-for="@Model.User.Role" class="select2" data-placeholder="Select a Role" style="width: 100%;">

                            @foreach (Role role in @Model.Roles)
                            {
                                <option>@role.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-secondary float-left">Back to List</a>
                        <input type="submit" value="Create" class="btn btn-primary float-right" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
