@model IEnumerable<InventoryControlSystem.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="ToOrder">To Order</a>
    <a asp-action="ToFulfill">To Fulfill</a>

</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-primary">
                <div class="card-header">
                    <h3 class="card-title">DataTable with default features</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.OrderID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NumProducts)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Fulfilled)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ordered)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OrderList)
                                </th>
                                <th>
                                    Functions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumProducts)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fulfilled)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ordered)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderList)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                                    <a asp-action="Add2OrderList" asp-route-id="@item.Id">Add To Order List</a>

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</div>