@model InventoryControlSystem.ViewModels.ProductViewModel

<div class="row">
    <div class="col-md-4">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.Product.Name" class="control-label"></label>
                        <input asp-for="@Model.Product.Name" class="form-control" />
                        <span asp-validation-for="@Model.Product.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Product.Type" class="control-label"></label>
                        <input asp-for="@Model.Product.Type" class="form-control" />
                        <span asp-validation-for="@Model.Product.Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Product.Brand" class="control-label"></label>
                        <input asp-for="@Model.Product.Brand" class="form-control" />
                        <span asp-validation-for="@Model.Product.Brand" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Product.NumBottles" class="control-label"></label>
                        <input asp-for="@Model.Product.NumBottles" class="form-control" />
                        <span asp-validation-for="@Model.Product.NumBottles" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Product.BottleSize" class="control-label"></label>
                        <input asp-for="@Model.Product.BottleSize" class="form-control" />
                        <span asp-validation-for="@Model.Product.BottleSize" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Product.NumUnits" class="control-label"></label>
                        <input asp-for="@Model.Product.NumUnits" class="form-control" />
                        <span asp-validation-for="@Model.Product.NumUnits" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Product.Price" class="control-label"></label>
                        <input asp-for="@Model.Product.Price" class="form-control" />
                        <span asp-validation-for="@Model.Product.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Product.SuppliersID">Select a Supplier</label>
                        <select asp-for="@Model.Product.SuppliersID" class="select2" multiple="multiple" data-placeholder="Select a Supplier" style="width: 100%;">

                            @foreach (Supplier supplier in @Model.Suppliers)
                            {
                                <option value="@supplier.ID:@supplier.Name">@supplier.Name</option>
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-secondary float-left">Back to List</a>
                        <input type="submit" value="Create" class="btn btn-primary float-right" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
