@model InventoryControlSystem.Models.Product

<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Type)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Type)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Brand)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Brand)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.NumBottles)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.NumBottles)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.BottleSize)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.BottleSize)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.NumUnits)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.NumUnits)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.SuppliersName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.SuppliersName)
                    </dd>
                </dl>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class=" btn btn-primary float-right">Edit</a>
                    <a asp-action="Index" class="btn btn-secondary float-left">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

