@model InventoryControlSystem.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "DashBoard";
}



<div class="conainer-fluid">
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <!-- Info boxes -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-money-bill"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Today's Revenue</span>
                        <span class="info-box-number">
                            @Model.Fund.TodaysRevenue
                            <small>$</small>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-arrow-up"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Today's Profit</span>
                        <span class="info-box-number">
                            @Model.Fund.TodaysProfit
                            <small>$</small>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Today's Sales</span>
                        <span class="info-box-number">
                            @Model.Fund.TodaysSales
                            <small>$</small>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-dollar-sign"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Today's Cost</span>
                        <span class="info-box-number">
                            @Model.Fund.TodaysCost
                            <small>$</small>
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.Info boxes -->

        <!-- OrderLists to be Confirmed -->
        <div class="row">
            <div class="col-12">
                <div class="card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Confirm OrderList</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example11" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OrderList.ID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OrderList.SuppliersName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OrderList.BusinessesName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OrderList.OrderDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OrderList.Confirmed)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OrderList.TotalCost)
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderLists)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SuppliersName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BusinessesName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Confirmed)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalCost)
                                        </td>
                                        <td>
                                            <a asp-controller="OrderList" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                            <a asp-controller="OrderList" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                            <a asp-controller="OrderList" asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                                            <a asp-controller="OrderList" asp-action="Confirm" asp-route-id="@item.Id">Confirm</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.OrderList to be Confirmed-->
    }

        <!-- Orders to be added to OrderList -->
        <div class="row">
            <div class="col-12">
                <div class="card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Order to Orderlist</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Order ID
                                    </th>
                                    <th>
                                        Total Items
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order.TotalCost)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order.Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order.Fulfilled)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order.Ordered)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order.OrderList)
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Orders)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumProducts)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalCost)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Fulfilled)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ordered)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderList)
                                        </td>
                                        <td>
                                            <a asp-controller="Order" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                            <a asp-controller="Order" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                            <a asp-controller="Order" asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                                            <a asp-controller="Order" asp-action="Add2OrderList" asp-route-id="@item.Id">Add To Order List</a> |
                                            <a asp-controller="Order" asp-action="Fulfill" asp-route-id="@item.Id">Fulfill</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body  -->
                </div>
            </div>
        </div>
        <!-- /.Orders to be added to OrderLis -->

</div>
<!-- /.col -->
