@model InventoryControlSystem.ViewModels.SupplierViewModel

<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Supplier.Name)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Supplier.Name)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Supplier.Email)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Supplier.Email)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Supplier.Phone)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Supplier.Phone)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Supplier.Address)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Supplier.Address)
                    </dd>
                    <dt class="col-sm-3">

                </dl>
                <h4><b>Products</b></h4>
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.Brand)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.NumBottles)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.BottleSize)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.NumUnits)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.TotalCost)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.SuppliersName)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Products)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Brand)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumBottles)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BottleSize)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumUnits)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalCost)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SuppliersName)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Supplier.Id" class=" btn btn-primary float-right">Edit</a>
                    <a asp-action="Index" class="btn btn-secondary float-left">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

